# Ignore Python virtual environment folder
venv/
dataset/
orders_Stream_Error_Files/
Orchestration/logs

# Ignore environment variable files
.env
*.env
src/kaggle.json
src/recover_blobs.sh
pyvenv.cfg
postgres-details.sql


# Ignore compiled Python files
__pycache__/
*.pyc